<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>添加</title>
    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
 
  </head>
  <body>
    <div class="container">
      <form action="" class="form-signin" method="post">
        <h2 class="form-signin-heading">添加文章</h2>
        <label for="inputEmail" class="sr-only">标题</label>
        <input type="text" id="inputEmail" name="title" class="form-control" placeholder="标题" required autofocus>
        <label for="inputPassword" class="sr-only">内容</label>
        <textarea class="form-control" rows="3" name="content" placeholder="内容"></textarea>
       
        <button class="btn btn-lg btn-primary btn-block" type="submit">确定</button>
      </form>

    </div> <!-- /container -->

  </body>
</html>